<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Webcontrol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome_6.5.0_all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <nav class="navbar">
        <i id="menu" class="icone-menu fa-solid fa-bars"></i>
        <div class="navbar-container">
            <a class="navbar-brand" href="{{ url_for('main_routes.home')}}">Menu</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="dropbox-toggle">Vault <i class="fa-solid fa-chevron-right"></i></p>
                    <div class="nav-dropbox">
                        <a class="nav-link" href="{{ url_for('vault_routes.admin')}}">Administration</a>
                        <a class="nav-link" href="{{ url_for('vault_routes.list_certificates_route')}}">Certificats</a>
                        <a class="nav-link" href="{{ url_for('vault_routes.servers')}}">Serveurs</a>
                    </div>
                </li>
                <li class="nav-item">
                    <p class="dropbox-toggle">DNS <i class="fa-solid fa-chevron-right"></i></p>
                    <div class="nav-dropbox">
                        <a class="nav-link" href="{{ url_for('dns_routes.admin')}}">Administration</a>
                        <a class="nav-link" href="/">Liste enregistrements</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Administration DNS</h1>
        <h2>Créer une Zone DNS</h2>
        <form method="post" action="{{ url_for('dns_routes.create_zone_route') }}">
            <input type="text" name="zone_name" placeholder="Nom de la zone" required>
            <input type="text" name="admin_email" placeholder="Email de l'administrateur" required>
            <button type="submit" class="btn">Créer la Zone</button>
        </form>
        <h2>Ajouter un Enregistrement DNS</h2>
        <form method="post" action="{{ url_for('dns_routes.add_record_route') }}">
            <input type="text" name="zone_name" placeholder="Nom de la zone" required>
            <input type="text" name="record_name" placeholder="Nom de l'enregistrement" required>
            <select name="record_type" required>
                <option value="A">A</option>
                <option value="CNAME">CNAME</option>
                <option value="MX">MX</option>
            </select>
            <input type="text" name="record_value" placeholder="Valeur de l'enregistrement" required>
            <input type="number" name="ttl" placeholder="TTL (en secondes)" value="3600">
            <button type="submit" class="btn">Ajouter l'Enregistrement</button>
        </form>
    </div>
</body>

</html>